@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.logo {
  font-family: "Pacifico", cursive;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10rem 0;
}
h1 {
  color: #333;
}
#main-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#main-menu a {
  color: #333;
  font-size: 1.25rem;
}

#booking-button {
  background-color: #333;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

#booking-button a {
  color: #fafafa;
}

#booking-button:hover {
  background-color: #666;
}

#hero {
  background-image: url(/assets/images/fundo-hero.jpg);
  background-position: center;
  color: #fafafa;
}

#hero-content {
  width: 83%;
}

#hero-content h2 {
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.05;
}

#hero-content p {
  font-size: 1.375rem;
  margin-top: 1.5rem;
}

#hero-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

#hero-buttons a {
  color: #fafafa;
}

#menu-btn {
  padding: 1rem 2rem;
}
#book-table-btn {
  padding: 1rem 2rem;
  border: #fafafa solid 2px;
  border-radius: 0.5rem;
}

#main-content {
  display: flex;
  gap: 4rem;
  margin: 5rem auto;
}

#products {
  flex: 3;
}

#sidebar {
  flex: 1;
}

#product-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-card {
  width: 35%;
  flex-grow: 1;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 5px #ccc;
  background-color: #f9f9f9;
}

.product-card img {
  max-width: 100%;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

.section-title h2 {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.section-title p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.product-content {
  margin: 1rem 1rem 2rem 1rem;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.product-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.product-description,
.sidebar-card p {
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  margin: 0.75rem 0;
}

.see-more-button {
  font-size: 1.25rem;
  color: #333;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.sidebar-card {
  box-shadow: 5px 5px 5px #ccc;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.sidebar-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.video {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

.hour-item {
  display: flex;
  justify-content: space-between;
}

.hour-time {
  font-weight: 600 !important;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#booking-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

input,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #666;
  border: #666 solid 1px;
  font-family: "Outfit", sans-serif;
}

.form-btn,
#newsletter-btn {
  background-color: #333;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: #fcfcfc;
  cursor: pointer;
  border: 0;
}

.form-btn:hover {
  background-color: #666;
  border: 0;
}

#testimonials {
  background-color: #f9f9f9;
  padding: 4rem 0;
}

#testimonials-box {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.testimonial-card {
  display: flex;
  background-color: #fcfcfc;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #ccc;
}

.testimonial-person {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.testimonial-card img {
  max-width: 100px;
}

#newsletter {
  padding: 4rem 0;
}

#newsletter-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#newsletter-btn:hover {
  background-color: #666;
  border: 0;
}

footer {
  background-color: #333;
  padding: 4rem 0 2rem 0;
  color: #fcfcfc;
}

#main-footer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#footer-about {
  flex: 1;
}

#footer-about h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#footer-about-description {
  color: #ccc;
  margin-bottom: 2rem;
  max-width: 80%;
}

#about-social-icons {
  display: flex;
  gap: 1rem;
}

#about-social-icons i {
  width: 2rem;
  height: 2rem;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 1rem;
}

#footer-links {
  flex: 1;
}

#footer-hours {
  flex: 1;
  color: #ccc;
}

.hours-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#footer-hours .hours-card {
  max-width: 80%;
}

#footer-contanct {
  flex: 1;
}

.footer-titles {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

#footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#footer-menu ul li a {
  color: #ccc;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #ccc;
}

.footer-contact-item {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

#copyrights{
    margin-top: 2rem;
    text-align: center;
    color: #ccc;
}

